<div class="hashtag-item" data-id="<%= data.id %>" data-related-ids="<%= data.related_ids %>">
  <div class="hashtag-circle">
    <canvas class="hashtag-level-bar" data-level="<%= data.level / 10 %>"/>
    <div class="hashtag-icon" style="background-image: url(<%= data.icon %>)">
      <div class="hashtag-level">
        <span><%= data.level %></span>
      </div>
    </div>
  </div>
  <div class="hashtag-label">
    <div class="hashtag-label-name">#<%= data.name %></div>
    <div class="hashtag-label-energy"><%= data.energy %></div>
  </div>
</div>
